@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .animate-slide-down {
    animation: slideDown 0.3s ease-out both;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}